@import url(http://fonts.googleapis.com/css?family=Karla:400,700&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:100);

@import "bootstrap";

$pink: #e14885;

body {
  font-family: 'Karla', sans-serif;
  font-size: 14px;
}

a {
  color: #ff3e84;
}

a:hover {
  color: #c4c4c4;
}

b,h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto Slab', serif;
}

h4 {
  font-family: 'Karla', sans-serif;
  font-size: 1.3em;
  height: 2em;
  vertical-align: bottom;
  display: table-cell;
  padding-bottom: 10px;
}

h2, h3 {
  font-style: italic;
  margin-bottom: 1em;
}

.content {
  cite {
    display:block;
    color: #848484;
    clear: both;
    margin-bottom: 2em;
  }

  p.image-intro{
    float: right;
    width: 500px;
    img {
      width: 500px;
    }
    margin-left: 1em;
  }
}

.main_ad {
  text-align: center;
}

#main.content {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

#header{
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 0.5em;
}

.menu {
  @extend .pull-right;
  margin: 20px 0;
  ul {
    @extend .btn-group;
    li {
      @extend .btn;
      a { text-decoration: none; }
    }
  }
}

#logo {
  margin-top: 20px;
  cursor: pointer;
}

#sidebar {
  padding-top: 20px;
  .submenu {
    ul {
      @extend .nav;
      @extend .nav-list;
      li {
        a { text-decoration: none; }
        text-align:right;
        margin-bottom: 0.5em;
      }
    }
  }
}

ul.breadcrumbs {
  width: 100%;
  position: fixed;
  font-size: 0.9em;
  color: #242424;
  list-style: none;
  background-color: #efefef;
  margin: 0px;
  padding-left:20px;
  @extend .clearfix;
  li {
    float:left;
    width: auto;
    padding: 10px 3px;
    a:after  {
      content: " » "
    }
  }
}

.sampler {
  min-height: 21em;
  margin-top: 0.5em;
  img {
    border: 2px solid #c4c4c4;
  }
}

.container {
  padding-top: 40px;
  padding-bottom: 50px;
}

#footer {
  padding: 0.25em 1em;
  font-size: 0.75em;
  background-color: #d4d4d4;
  color: #424242;
}

.home-intro {
  font-size: 1.1em;
  text-align: right;
  color: white;
  height: 357px;
  background-color: $pink;
  color: white;
  padding: 1em 1em 0 1em;
  .identity {
    font-size: 1.6em;
    display:block;
    color: #eedad1;
  }
  em {
    font-size: 1.2em;
    color: #eedad1;
  }
  div {
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eedad1;
  }
}

.noborder {
  border: none !important;
}

.section_ad {
  margin-top: 1em;
  border: 1px solid #c4c4c4;
  width:212px;
}
